.Card {
  margin: 5px;
  background-color: white;
  /* cursor: pointer; */
  min-width: 20vw;
  text-decoration: none !important;
}

.heart_icon {
  cursor: pointer;
}
.Card h4 {
  font-weight: 600;
  color: black;
}
.Card_img {
  box-sizing: unset !important;
  margin-top: 10px;
  object-fit: contain;
  max-width: 200px;
  min-height: 200px;
  cursor: pointer;
}
.Card_bottom {
  margin-top: 20px;
  padding: 3px;
  border-left: 5px solid rgb(235, 235, 76);
}

.Card_bottom p {
  font-size: smaller;
  color: #002f34a3;
}

.Card1_time {
  margin-top: 20px;

  font-weight: lighter;
  font-size: 8px;
  color: #002f34a3;
}

h6 {
  /* align-self: flex-end; */
  margin-bottom: 10px;
  margin-right: 10px;
}
