.parent_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main_div {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-right: 5vw;
  margin-left: 5vw;
  background-color: #ebeeef;
  height: 10%;
  padding: 10px;
}
